* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Titan One', cursive;*/
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #001F3F;
    font-size: 18px;
    font-weight: 300;
}

a:hover {
    color: #001F3F;
}

/* Header */
header {
    position: fixed;
    padding: 0;
    width: 100%;
    z-index: 999;
}

.navbar {
    background-color: #FFFFFF;
    width: 100%;
    height: 60px;
    max-width: 1728px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    list-style: none;
    padding-right: 0.5rem;
    z-index: 999;
}

.links {
    align-items: center;
}

.links::before,
.links::after {
    content: '';
    display: table;
}

.links::after {
    clear: both;
}

.links li {
    float: left;
    position: relative;
}

.links a {
    font-size: 17px;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    float: left;
    padding: 12px 10px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #001F3F;
}

.links li:hover>a {
    color: #001F3F;
    font-weight: 300;
    background: rgba(228, 228, 228, 0.795);
    border-radius: 15px;
}

.links ul {
    margin: 20px 0 0 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 46px;
    left: 0;
    z-index: 1;
    background: rgba(228, 228, 228, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    transition: all .3s ease-in-out;
}

.links li:hover>ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

.navbar-center .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-center .logo img {
    width: 60px;
    height: 60px;
}

.navbar-center .logo a {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 800;
}

.navbar-right {
    display: flex;
    align-items: center;
    text-align: center;

    margin-left: 190px;
}

.navbar-right #mi_cuenta {
    display: flex;
    padding-right: 30px;
}

.navbar-right .toggle-btn {
    color: #F7F7F7;
    font-size: 18px;
    cursor: pointer;
    display: none;
}

.navbar-right .action-btn {
    background-color: #FF7262;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.navbar-right .action-btn:hover {
    scale: 1.05;
    color: #FFFFFF;
}

.navbar-right .action-btn:active {
    scale: 0.95;
}


/* HERO */
#hero-top{
    background: url(/images/pages-assets/empresas-banner.jpg);
    background-size: cover;

    width: 100%;
    height: 680px;
    left: 0px;
    top: 0px;
}
.hero-title {
    height: calc(100vh - 60vh);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #001F3F;
    background: rgba(245, 245, 245, 0.432);
    backdrop-filter: blur(144px);
    border-radius: 15px;
    width: 700px;
    height: 150px;
    position: relative;
    left: 290px;
    top: 240px;
}
#hero-title-top{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#hero-title-title{
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    top: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    /* or 78%*/
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.06em;
    color: #001F3F;
}

/* PREMIADO POR SEGUNDO AÑO CONSECUTIVO */
.estrellas {
    width: 100%;
    height: 600px;
    background: url(/images/pages-assets/soluciones-asstes/stars.png);
    background-size: cover;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    padding-top: 60px;

    box-sizing: border-box;
}

.estrellas-topTitle {
    white-space: pre;
    font-family: 'Poppins', sans-serif;
    color: #001F3F;
    text-align: center;
    padding: 0px 1rem;
    font-size: 4.4rem;
    box-sizing: border-box;

    padding-bottom: 40px;
}

.estrellas-topContent {
    padding-left: 40px;
    padding-right: 40px;

    box-sizing: border-box;
    margin-top: 10px;
    color: #001F3F;
}

.estrellas-topContent-p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 28px;

    box-sizing: border-box;
}

/* ACEPTADO POR LAS MEJORES FINANCIERAS */
.financieras {
    width: 100%;
    height: 999px;
    background: url(/images/pages-assets/soluciones-asstes/financieras.png);
    background-size: cover;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    padding-top: 80px;

    box-sizing: border-box;
}

.financieras-topTitle {
    white-space: pre;
    font-family: 'Poppins', sans-serif;
    color: #001F3F;
    text-align: center;
    padding: 0px 1rem;
    font-size: 4.4rem;
    box-sizing: border-box;

    padding-bottom: 20px;
}

.financieras-topContent {
    padding-left: 40px;
    padding-right: 40px;

    box-sizing: border-box;
    margin-top: 10px;
    color: #001F3F;
}

.financieras-topContent-p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 28px;

    box-sizing: border-box;
}

/* CATÁLOGO */
.soluciones-topTitle {
    background: #F7F7F7;
    text-align: center;
    padding: 10px 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.6rem;
    color: #001F3F;
    padding-top: 30px;
    padding-bottom: 10px;
}

.soluciones {
    width: 100%;
    height: 900px;
    background: #F7F7F7;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
}

.soluciones .soluciones-cards {
    display: flex;
    width: 356px;
    height: auto;

    flex-flow: column nowrap;
    -moz-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 47px 46px -27px, rgba(0, 0, 0, 0.06) 0px 2px 12px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2rem;

    padding: 6px 12px 16px;
    margin: 15px;
    color: #4a4a4a;
}

.soluciones .soluciones-cards-images {
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
}

.soluciones .soluciones-cards-images img {
    width: 200px;
    height: 70px;
}

.soluciones .soluciones-cards-title {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 1;
    color: #001F3F;
    white-space: pre;
    text-align: center;

    box-sizing: border-box;
    margin-top: 6px;
    padding-bottom: 30px;
}

.soluciones .soluciones-cards-content {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #001F3F;
    width: 100%;
    white-space: pre-wrap;
    text-align: center;
    max-height: 50px;

    box-sizing: border-box;
    padding-top: 6px;
}

.soluciones .soluciones-cards-button {
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    -webkit-tap-highlight-color: transparent;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    margin-top: 25px;
    background-color: #001F3F;
    border-radius: 15px;
}

.soluciones .soluciones-cards-button a {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin: 0px;
    font: inherit;
    font-weight: 700;
    text-align: center;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    transform-origin: center center;
    padding: 15px;
    font-size: 14px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: #FF7262;
    border: 1px solid transparent;
    transition: all 0.3s ease 0s, transform 0.5s ease 0s;
    box-shadow: rgba(255, 0, 131, 0.5) 0px 10px 40px -10px;
    pointer-events: auto;
    display: block;
    width: 194px;
}

.soluciones .soluciones-cards-button:hover {
    scale: 1.05;
    color: #FFFFFF;
}

.soluciones .soluciones-cards-button:active {
    scale: 0.95;
}

.soluciones #soluciones-cards-prices {
    font-weight: bold;
    line-height: 1.3;
    color: #001F3F;
    text-transform: uppercase;
    vertical-align: baseline;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}




/* Informacion */
.informacion {
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    background-color: #FFFFFF;
    contain: paint;

    display: flex;

    margin-top: 50px;
    padding-bottom: 20px;

    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: auto;

    text-align: center;
}

.informacion-container {
    /*display: flex;*/
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;

    width: 1140px;

    box-sizing: border-box;
    z-index: 1;

    text-align: center;
    color: #001F3F;
}

.informacion-title {
    font-size: 4.4rem;

    margin-top: 30px;

    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-weight: bold;
    line-height: 1rem;

    box-sizing: border-box;

    text-align: center;
    color: #001F3F;
}

.informacion-subtitle {
    font-size: 1.8rem;
    line-height: 3rem;

    margin-top: 40px;

    font-family: 'Poppins', sans-serif;
    font-weight: 400px;

    text-align: justify;
    color: #001F3F;
}

.informacion-subtitle-text {
    box-sizing: border-box;
    text-align: center;
    color: #001F3F;
}

.informacion-slide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    transition: 250ms ease-out 0s;
    pointer-events: none;

    -moz-box-pack: justify;

    margin-top: 50px;

    box-sizing: border-box;

    text-align: center;
    color: #001F3F;
}

.informacion-card {
    transition: scale 0.2 ease;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 18px 50px -3px;
    padding: 32px;

    text-align: left;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    outline: none;

    border: 2px solid rgb(236, 236, 236);

    /*display: flex;*/
    flex-direction: column;

    width: 360px;
    height: auto;

    box-sizing: border-box;

    color: #001F3F;
}
.informacion-card:hover{
    scale: 1.05;
    color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 18px 50px -3px;
}

.card-content {
    align-items: flex-start;
    cursor: pointer;


    flex: 1 1 0%;
    -moz-box-align: center;
    position: relative;

    box-sizing: border-box;

    text-align: left;
}

.card-button {
    height: auto;
    padding: 0px;

    background: transparent;
    width: 100%;
    /*display: flex;*/
    -moz-box-align: center;
    align-items: center;
    border: 0px none;
    outline: 0px;
    position: relative;

    flex-direction: row;

    box-sizing: border-box;

    text-align: left;
    color: #001F3F;
}

.card-button-content {
    -moz-box-flex: 1;
    flex-grow: 1;
    text-align: initial;

    box-sizing: border-box;

    cursor: pointer;

    pointer-events: auto;
    color: #001F3F;
}

.card-button-content-title {
    color: #001F3F;
    text-decoration: none;

    box-sizing: border-box;

    text-align: initial;

    cursor: pointer;

    pointer-events: auto;

    margin-bottom: 2.2rem;

    word-break: break-word;
    color: #001F3F;

    font-size: 2.4rem;
    line-height: 1.13;

    margin-right: 0px;

    font-family: 'Poppins', sans-serif;
    font-weight: bold;

    box-sizing: border-box;

    pointer-events: auto;
}

.card-button-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #001F3F;
    word-break: break-word;

    box-sizing: border-box;

    text-align: initial;

    cursor: pointer;

    pointer-events: auto;
}

.subtitle {
    box-sizing: border-box;
    color: #001F3F;
    word-break: break-word;

    text-align: initial;

    cursor: pointer;

    pointer-events: auto;
    /**/
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #001F3F;
    word-break: break-word;

    box-sizing: border-box;

    text-align: justify;

    cursor: pointer;

    pointer-events: auto;
}





/* FOOTER */
.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    padding: 10px 15px;
}

.footer {
    background-color: #FFFFFF;
    padding: 50px 10px;
}

.footer-col {
    width: auto;
    padding: 0px 15px;
}

.footer-col h4 {
    color: #001F3F;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 1200;
    font-size: 28px;
    line-height: 140%;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #FF7262;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
    color: #001F3F;
    display: block;
}

#hero-title-footer-autor {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 14px 20px 14px 16px;
    gap: 8px;
    width: 203px;
    height: 64px;
    margin-right: 300px;
}

#hero-title-footer-autor-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

#hero-title-autorname {
    font-size: 32px;
    color: #001F3F;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

#hero-title-footer-autor-button {
    display: flex;
    justify-content: left;
    margin-left: 17%;
}

.action-footer-btn {
    background-color: #FF7262;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-footer-btn:hover {
    scale: 1.05;
    color: #FFFFFF;
}

.action-footer-btn:active {
    scale: 0.95;
}

/*.footer-container-map img{
    background-size: contain;
    height: 280px;
    width: 100%;
}*/
.social-links {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

.social-links a {
    margin-bottom: 10px;
    font-size: 14px;
    margin-left: 10px;
}
#social-links-contacts{
    padding-bottom: 10px;
    justify-content: left;
    text-align: left;
    display: flex;
}
.footer-container-map-items{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}