*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background: #FFFFFF;

    height: 100vh;
    background-size: cover;
    background-position: center;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #001F3F;
    font-size: 18px;
    font-weight: 300;
}

a:hover {
    color: #001F3F;
}

/* Header */
header {
    position: fixed;
    padding: 0;
    width: 100%;
}

.navbar {
    background-color: #FFFFFF;
    width: 100%;
    height: 60px;
    max-width: 1728px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    list-style: none;
    padding-right: 0.5rem;
    z-index: 999;
}

.links {
    align-items: center;
}

.links::before,
.links::after {
    content: '';
    display: table;
}

.links::after {
    clear: both;
}

.links li {
    float: left;
    position: relative;
}

.links a {
    font-size: 17px;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    float: left;
    padding: 12px 10px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #001F3F;
}

.links li:hover>a {
    color: #001F3F;
    font-weight: 300;
    background: rgba(228, 228, 228, 0.795);
    border-radius: 15px;
}

.links ul {
    margin: 20px 0 0 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 46px;
    left: 0;
    z-index: 1;
    background: rgba(228, 228, 228, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    transition: all .3s ease-in-out;
}

.links li:hover>ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

.navbar-center .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-center .logo img {
    width: 60px;
    height: 60px;
}

.navbar-center .logo a {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 800;
}

.navbar-right {
    display: flex;
    align-items: center;
    text-align: center;

    margin-left: 190px;
}

.navbar-right #mi_cuenta {
    display: flex;
    padding-right: 30px;
}

.navbar-right .toggle-btn {
    color: #F7F7F7;
    font-size: 18px;
    cursor: pointer;
    display: none;
}

.navbar-right .action-btn {
    background-color: #FF7262;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.navbar-right .action-btn:hover {
    scale: 1.05;
    color: #FFFFFF;
}

.navbar-right .action-btn:active {
    scale: 0.95;
}




/* FOOTER */
.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    padding: 10px 15px;
}

.footer {
    background-color: #FFFFFF;
    padding: 50px 10px;
}

.footer-col {
    width: auto;
    padding: 0px 15px;
}

.footer-col h4 {
    color: #001F3F;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 1200;
    font-size: 28px;
    line-height: 140%;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #FF7262;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
    color: #001F3F;
    display: block;
}

#hero-title-footer-autor {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 14px 20px 14px 16px;
    gap: 8px;
    width: 203px;
    height: 64px;
    margin-right: 300px;
}

#hero-title-footer-autor-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

#hero-title-autorname {
    font-size: 32px;
    color: #001F3F;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

#hero-title-footer-autor-button {
    display: flex;
    justify-content: left;
    margin-left: 17%;
}

.action-footer-btn {
    background-color: #FF7262;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-footer-btn:hover {
    scale: 1.05;
    color: #FFFFFF;
}

.action-footer-btn:active {
    scale: 0.95;
}
